/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white; 
}

h1 {
  font-style: italic;
  font-family: verdana, arial, sans-serif; 
}

#gameButtonArea > button {
  padding: 15px;
  border-radius: 7px;
}