/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white; 
}

h1 {
  font-style: italic;
  font-family: verdana, arial, sans-serif; 
}

button {
  padding: 20px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

#button1 {
  background: lightgreen;
}
#button1:active {
  background:green;
}

#button2 {
  background: lightblue;
}
#button2:active {
  background:blue;
}

#button3 {
  background: pink;
}
#button3:active {
  backgtound: red;
}

#button4 {
  background: lightyellow;
}
#button4:active {
  backgtound: yellow;
}